.body {
    /* padding-top: 10px; */
    

    height:100%;
    width: 100%;
    color: white;

    /* background-image: url('../images/james-sutton-198306-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    /* overflow:visible;  */
    

    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
